<main class="main-content" id="mainContent">
    <article class="content">
      <div class="content-inner-box">
        <header class="content-header">
          <!-- History Back Button -->
          <button data-tooltip-target="tooltip-history-back" data-tooltip-style="light" data-tooltip-placement="bottom" class="btn-icon hover:text-blue-700 hover:bg-gray-50">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <div id="tooltip-history-back" role="tooltip" class="absolute invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 z-100000 tooltip">
            뒤로가기
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>

          <div class="content-title-block">
            <h2>메인 콘텐츠</h2>
            <button class="text-blue-500 mr-2 border border-blue-200 bg-blue-50 hover:bg-blue-100 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-md px-3 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <i class="fa-solid fa-sliders"></i>
            </button>
          </div>
        </header>
        <section class="content-body">
          <!-- <div id="myGrid" style="height: 700px"></div> -->
        </section>
      </div>
    </article>
  </main>